body {
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margin */
}

.App{
  text-align: center;
  
}

h1{
  text-align: center;
  color: white;
}

.quoteContainer{
  margin: auto auto;
  width: 80%;
  text-align: center;
}

.quote{
  color: white;
}

.author{
  color: white;
}

/* CSS */
.generateButton {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.generateButton:active{
  background-color: #6363fe;
}

.generateButton:hover{
  transform: scale(1.2);
}