body{
  background-color: rgb(44, 44, 44);
}

.App{
  text-align: center;
}

h1{
  text-align: center;
  color: white;
}

.quoteContainer{
  margin: auto auto;
  width: 50%;
  text-align: center;
}

.quote{
  color: white;
}

.author{
  color: white;
}